@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about this project in the official <a href="https://github.com/DonSaul/DOTNETPROJECT1/">GitHub repository</a>.</p>
</div>
